header{
    margin: 2em 0;
    width: 100%;
    .tags_container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .tags_list{
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 5px;
            list-style: none;
            .filter_tag{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                color: #566DED;
                border:1px solid #B4BEF5;
                border-radius: 64px;
                padding: 2px 8px 2px 12px;
            }
        }
        .delete_filters{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            color: #566DED;
            border: none;
            cursor: pointer;
        }
    }
    .sort_container{
        margin-top: 2em ;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;
        p{
            font-weight: 500;
        }
        .grid_button{
            border-radius: 50%;
            width: 3em;
            height: 3em;
            border:1px solid #8f8f8f;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .sort_button{
            margin-left: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            color: #566DED;
            border: none;
            cursor: pointer;
        }
    }
}