aside{
    margin: 0 3em;
    height: 100%;
    max-width: 25em ;
    padding: 1em;
    
    .filter_buttons_container{
        display: none;
        justify-content: space-between;
        align-items: center;
        .filter_name{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            span{
                font-weight: 700;
                color: #566DED;
            }
        }
    }
    form{
        display: none;
    }
    .car-filter{
        position: relative;
        width: 100%;
        min-height: auto;
        list-style: none;
        font-weight: 700;
        font-size: 16px;
        cursor: pointer;
        .dropdown_arrow.inactive{
            transform: rotate(0deg);
            transition: .2s transform;
        }
        .dropdown_arrow.active{
            transform: rotate(180deg);
            transition: .2s transform;
        }
        .dropdown_content.inactive{
            border-top: 1px solid #E3E5ED;
            display: grid;
            grid-template-rows: 0fr;
            transition: .5s grid-template-rows;
            .dropdown_sub{
                max-height: 20em;
                overflow-y:scroll;
                .dropdown_li{
                    width: 100%;
                    list-style: none;
                    padding: 1em;
                    display: block;
                    font-weight: 400;
                    font-size: 14px;
                }
            }
        }
        .dropdown_content.active{
            grid-template-rows: 1fr;
            border-top: 1px solid #E3E5ED;
            display: grid;
            transition: .5s grid-template-rows;
            .dropdown_sub{
                max-height: 20em;
                overflow-y:scroll;
                .dropdown_li{
                    width: 100%;
                    list-style: none;
                    padding: 1em;
                    display: block;
                    font-weight: 400;
                    font-size: 14px;
                    &:hover{
                        background-color: rgb(219, 219, 219);
                    }
                }
            }
        }
        .flex-filter{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.5em 0  ;
        }
    }
}


@media only screen and (max-width: 800px){
    aside{
        margin: 0;
        height: 100%;
        min-width: 100% ;
        padding: 1em;
        .filter_buttons_container{
            margin-bottom: 1em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .filter_name{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
                span{
                    font-weight: 700;
                    color: #566DED;
                }
            }
        }
        .show-filters.inactive{
            display: none;
        }
        .show-search.active{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            input{
                height: 2.5em;
                border: 2px solid #566DED;
                border-radius: 5px;
                padding: 0 10px;
                width: 80%;
            }
            button{
                height: 2.5em;
                border: 2px solid #566DED;
                border-radius: 5px;
                padding: 0 10px;
                width: 20%;
                color: #566DED;
                font-weight: 700;
            }
        }
        .show-search.inactive{
            display: none;
        }
    }
}